---
---

@import 'bootstrap/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;700&display=swap');

body {
  font-family: 'Martel', serif;
}

header {
  background:rgb(6, 6, 105);
  color: #ffffff;
  width: 100%;
  padding: 2em;
  margin-bottom:2em;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding-bottom: 0.2em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  border-bottom: 0.5px solid rgb(78, 74, 74);
}

h3 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

a {
  color:rgb(90, 30, 230);
  text-decoration: none;
}

ul {
  list-style-type: square;
}

.news-date {
  color:slateblue;
}